html, body {
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    background: #222;
}
html {
    color: #222;
    font-family: Dosis, Helvetica, Arial, sans-serif;
}

#wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100%;
    align-items: stretch;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}


/********************/
/* GRAPHICAL HEADER */
/********************/
header {
    background: palegreen url(../img/green-trees.png) bottom left repeat-x;
    color: white;
}
header p {
    font-family: 'Cabin Sketch';
    font-size: 2.8em;
    text-align: center;
    margin: 0.4em auto;
}
header a {
    color: white;
    text-decoration: none;
}
header span {
    display: block;
    font-family: Dosis, Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
}
header, nav, main, footer {
    width: 100vw;
    padding: 1em auto;
    flex-shrink: 0;
}
header aside {
    position: absolute;
    top: 0;
    right: 0;
}
header aside a {
    color: white;
}
header aside a:hover {
    color:salmon;
}


/************/
/* NAV MENU */
/************/
nav {
    background: #222;
    color: white;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 8px auto;
}
nav li {
    padding: 0;
    list-style: none;
    align-content: space-around;
    font-family: Bitter, Georgia, serif;
}
nav li.active a,
nav a:hover
{
    background: #66cc99;
    color: black;
    cursor: pointer;
}
nav li a {
    padding: 0.5em 2em;
    background: #222;
    color: white;
    text-decoration: none;
    transition: 0.5s background;
}
nav li a:hover {
    
}


main {
    background: white;
    min-height: 70vh;
    padding: 2em auto;
    flex-grow: 1;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Bitter, Georgia, serif;
}

footer {
    background: #222;
    color: #66cc99;
}
footer p {
    text-align: center;
}


/***********/
/* MASONRY */
/***********/
.grid {
    margin: 2em;
    xborder: 1px dotted fuchsia;
}
.grid > div {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0 1em 1em 0;
    padding: 0.8em;
    overflow: hidden;
}
/* fluid 5 columns */
.grid-sizer { display: none; }
.grid-sizer,
.grid-item,
.grid-item--width1 { width: 20%; }
/* 2 columns wide */
.grid-item--width2 { width: 40%; }

.grid-item img,
.grid-item--width1 img {
    max-width: 250px;
}
.grid-item--width2 img {
    max-width: 500px;
}
.grid-item h2 span {
    color: #bbb;
    font-size: 0.8em;
}
.grid-item a,
.grid-item a:hover {
    text-decoration: none;
    color: #66cc99;
}

/****************/
/* CONTACT PAGE */
/****************/
#Contact form {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 480px;
    margin: 2em auto 2em;
    padding: 1em;
}
#Contact form textarea {
    min-width: 20em;
    min-height: 150px;
    margin: 1em 0;
}

#About .hero {
    width: 100vw;
    min-height: 300px;
    height: 60vh;
    background: rgba(210,21,133,0.5) url(../../content/1-about/hero-creative-tools.jpg) 50% no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#About .hero h1 {
    font-size: 5em;
    line-height: 1.5em;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15)
}